@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/bebas/Bebas_Neue_Cyrillic.ttf');
    font-weight: 300;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
  }
@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
  background: #0e0d1b;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.container,
.col,
.row {
  margin: 0;
  padding: 0;
}
.container-wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/header-bg.png);
}
.container-header {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 768px;
}
.nav-menu {
  justify-content: space-between;
  height: 127px;
}
.nav-social-lists {
  margin: 0;
  padding-top: 60px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 153px;
}
.logo {
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 32px;
}
.nav-contact {
  color: rgb(255,255,254);
  padding-top: 51px;
  width: 170px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav-contact .d-inline-flex {
  justify-content: flex-end;
}
.nav-contact .number {
  font-size: 16px;
  margin: 0;
  padding-bottom: 9px;
  width: 170px;
  line-height: 1.2;
  white-space: pre;
}
.nav-contact p {
  font-size: 11px;
  line-height: 1.2;
  margin: 0;
  width: 170px;
}
.nav-menu-lists {
  padding: 0;
  padding-top: 16px;
  width: 1176px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.nav-menu-list {
  text-transform: uppercase;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 11px;
}
.nav-menu-list a {
  color: rgb(255,255,254);
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 1px;
}

/*Header*/
.header {
  height: 528px;
  text-transform: uppercase;
}
.header-title: {
  width: 265px;
}
.heading-1 {
  color: rgb(255, 255, 254);
  font-size: 73px;
  width: 530px;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  line-height: 1;
  padding-left: 68px;
}
.subtitle {
  color: rgb(255, 255, 254);
  justify-content: start;
  padding-left: 170px;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 32px;
}
.heading-3 {
  font-size: 22px;
  line-height: 3;
  letter-spacing: 2px;
}
.header-content p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255,255,254);
  line-height: 1.2;
  padding-left: 306px;
  margin-bottom: 0;
}
.header-content p .content-padding-1 {
  padding-left: 323px;
}

/*Clients*/
.container-wrap-clients {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/clients-bg.png);
}
.container-clients {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 768px;
}
.clients-title {
  padding-top: 85px;
  padding-bottom: 112px;
}
.heading-2 {
  font-size: 44px;
  font-family: 'Bebas Neue';
  color: rgb(255, 255, 254);
  text-transform: uppercase;
  line-height: 0.75;
  padding-left: 68px;
  margin-bottom: 0;
  letter-spacing: 5.5px;
}
.clients-menu {
  color: rgb(255, 255, 254);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
h3 .clients .heading-3 {
  font-size: 24px;
  font-family: 'Roboto Bold';
  font-weight: 700;
  color: rgb(255, 255, 254);
  line-height: 1.25;
  margin: 0;
  padding-bottom: 80px;
}
.col-left {
  margin-right: 15px;
}
.client-menu-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.client-menu-lists a {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(255, 255, 254);
  line-height: 3.4;
}
.button {
  height: 49px;
  width: 235px;
  background-color: rgb(55, 45, 97);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 12px;
}
.double-btn {
  width: 489px;
}
.clients-icon {
  background-color: rgb(0, 0, 0);
  width: 485px;
  height: 399px;
  align-items: center;
  justify-content: center;
}
