@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/bebas/BebasNeue.otf');
    font-weight: 300;
}
html, body {
  margin: 0;
  padding: 0;
  background: #0e0d1b;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.container-wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/header-bg.jpg);
}
.container {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 768px;
}
.nav-menu {
  justify-content: space-between;
  height: 127px;
}
.nav-social-lists {
  margin: 0;
  padding-top: 60px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 153px;
}
.logo {
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 32px;
}
.nav-contact {
  color: rgb(255,255,254);
  padding-top: 51px;
  width: 170px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-contact .number {
  font-size: 16px;
  margin: 0;
  padding-bottom: 9px;
}
.nav-contact p {
  font-size: 11px;
  line-height: 1.2;
  margin: 0;
}
.nav-menu-lists {
  padding: 0;
  width: 1176px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.nav-menu-list {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.nav-menu-list a {
  color: rgb(255,255,254);
  text-decoration: none;
}

/*Header*/
.header {
  height: 528px;
  text-transform: uppercase;
}
.header-title: {
  width: 265px;
}
.heading-1 {
  color: rgb(255, 255, 254);
  font-size: 73px;
  font-weight: bold;
  width: 270px;
  font-family: 'BebasNeue';
}
.subtitle {
  color: rgb(255, 255, 254);
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}
.header-content p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255,255,254);
}
