@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/bebas/Bebas_Neue_Cyrillic.ttf');
    font-weight: 300;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
  }
@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/roboto/Roboto-Thin.ttf');
    font-weight: 300;
}
html, body {
  margin: 0;
  padding: 0;
  background: #0e0d1b;
  font-size: 16px;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.container,
.col,
.row {
  margin: 0;
  padding: 0;
}
.container-wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/header-bg.png);
}
.container-header {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 768px;
}
.nav-menu {
  justify-content: space-between;
  height: 127px;
}
.nav-social-lists {
  margin: 0;
  padding-top: 60px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 153px;
}
.logo {
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 32px;
}
.nav-contact {
  color: rgb(255,255,254);
  padding-top: 51px;
  width: 170px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav-contact .d-inline-flex {
  justify-content: flex-end;
}
.nav-contact .number {
  font-size: 16px;
  margin: 0;
  padding-bottom: 9px;
  width: 170px;
  line-height: 1.2;
  white-space: pre;
}
.nav-contact p {
  font-size: 11px;
  line-height: 1.2;
  margin: 0;
  width: 170px;
  text-align: center;
}
.nav-menu-lists {
  padding: 0;
  padding-top: 16px;
  width: 1176px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.nav-menu-list {
  text-transform: uppercase;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 11px;
}
.nav-menu-list a {
  color: rgb(255,255,254);
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 1px;
}

/*Header*/
.header {
  height: 528px;
  text-transform: uppercase;
}
.header-title: {
  width: 265px;
}
.heading-1 {
  color: rgb(255, 255, 254);
  font-size: 73px;
  width: 530px;
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  line-height: 1;
  padding-left: 68px;
}
.subtitle {
  color: rgb(255, 255, 254);
  justify-content: start;
  padding-left: 170px;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 32px;
}
.heading-3 {
  font-size: 22px;
  line-height: 3;
  letter-spacing: 2px;
}
.col-1-of-3,
.col-2-of-3 {
  width: 33%;
}
.p-content {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255,255,254);
  line-height: 1.2;
  padding: 0;
  margin-bottom: 0;
}
.shift {
  padding-left: 16px;
}
/*Clients*/
.container-wrap-clients {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/clients-bg.png);
}
.container-clients {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 768px;
}
.clients-title {
  padding-top: 85px;
  padding-bottom: 112px;
}
.heading-2 {
  font-size: 44px;
  font-family: 'Bebas Neue';
  color: rgb(255, 255, 254);
  text-transform: uppercase;
  line-height: 0.75;
  padding-left: 68px;
  margin-bottom: 0;
  letter-spacing: 5.5px;
}
.clients-menu {
  color: rgb(255, 255, 254);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.clients-menu .heading-3 {
  font-size: 24px;
  font-family: 'Roboto Bold';
  font-weight: 700;
  color: rgb(255, 255, 254);
  line-height: 1.25;
  margin: 0;
  padding-bottom: 60px;
}
.col-sm {
  padding: 0;
}
.client-menu-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.client-menu-lists a {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(255, 255, 254);
  line-height: 3.4;
  text-decoration: none;
}
.button {
  height: 49px;
  width: 235px;
  background-color: rgb(55, 45, 97);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 12px;
  cursor: pointer;
}
.double-btn {
  width: 480px;
}
.clients-icon {
  background-color: rgb(0, 0, 0);
  width: 485px;
  height: 399px;
  align-items: center;
  justify-content: center;
}
/*Mobile App*/
.container-wrap-mobapp {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/mob-bg.png);
}
.container-mobapp {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 1062px;
  text-transform: uppercase;
}
.mobapp-title {
  padding-top: 115px;
  padding-bottom: 80px;
}
.mobapp-title .heading-3 {
  color: rgb(255, 255, 254);
  padding-left: 68px;
  font-family: 'Roboto Regular';
  letter-spacing: unset;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 17px;
}
.mobapp-icon {
  justify-content: center;
}
.mobapp-menu {
  color: rgb(255, 255, 254);
  font-family: 'Roboto Medium';
}
.mobapp-menu-lists {
  margin-bottom: 40px;
}
.circle {
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(55, 45, 97, 0.3);
  color: rgb(72, 46, 182);
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Thin';
  font-size: 78px;
}
.mobapp-list {
  align-items: center;
  letter-spacing: 1.5px;
}
.btn-store {
  background-color: rgb(55, 45, 97);
  color: rgb(255, 255, 254);
  font-family: 'Roboto Bold';
  font-size: 16px;
  border-radius: 60px;
  text-align: center;
  padding-top: 15px;
  height: 63px;
  width: 219px;
  margin-right: 15px;
}
.btn-store:hover {
  color: rgb(72, 46, 182);
}
.btn-store img {
  padding-right: 15px;
}
/*Bodyguard*/
.container-wrap-bodyguard {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/bodyguard-bg.png);
}
.container-bodyguard {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 790px;
  text-transform: uppercase;
}
.bodyguard-foto {
  padding-left: 68px;
  width: 420px;
  height: 380px;
}
.arrows {
  margin-left: 255px;
  margin-right: 75px;
  background-color: rgb(55, 45, 97);
  height: 84px;
}
.arrow-left {
  justify-content: center;
  align-items: center;
  width: 81px;
  background-color: rgb(55, 45, 97);
  height: 84px;
}
.arrow-right {
  justify-content: center;
  align-items: center;
  width: 81px;
  background-color: rgb(55, 45, 97);
  height: 84px;
}
.bodyguard-title {
  padding-top: 85px;
  padding-bottom: 80px;
}
.bodyguard-title .heading-2 {
  padding-left: 153px;
}
.bodyguard-content {
  color: rgb(255, 255, 254);
}
.bodyguard-content .heading-3 {
  font-family: 'Roboto Bold';
  font-size: 24px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  line-height: 1.2;
}
.bodyguard-content .heading-6 {
  font-family: 'Roboto Regular';
}
.bodyguard-content p {
  text-transform: none;
  line-height: 1.2;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  letter-spacing: 1.1px;
  margin: 0;
}
.btn-order {
  background-color: rgb(255, 138, 0);
  color: rgb(255, 255, 254);
  font-family: 'Roboto Bold';
  font-size: 16px;
  margin-left: 170px;
  border-radius: 60px;
  text-align: center;
  padding-top: 16px;
  height: 58px;
}
.skills {
  padding-top: 10px;
}
.skills p {
  text-transform: uppercase;
}
/*Auto*/
.container-wrap-auto {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/auto-bg.png);
}
.container-auto {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 1183px;
  text-transform: uppercase;
  color: rgb(255, 255, 254);
}
.auto-title .heading-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 1;
  width: 730px;
}
.auto-title .heading-3 {
  font-family: 'Roboto Bold';
  font-size: 30px;
  padding-left: 668px;
  line-height: 1.2;
}
.auto-content {
  padding-left: 153px;
}
.auto-content .heading-3 {
  font-size: 30px;
  font-family: 'Roboto Bold';
  line-height: 1.2;
  padding-bottom: 30px;
}
.auto-content .heading-4 {
  font-size: 24px;
  font-family: 'Roboto Regular';
  line-height: 1.2;
  padding-bottom: 20px;
}
.auto-content .heading-4-special {
  font-weight: bold;
  padding-bottom: 20px;
}
.auto-content .btn-order {
  margin: 0;
  height: 57px;
}
/*
.auto-carousel .carousel-item {
  display: flex;
  justify-content: center;
}
*/
/*Person*/
.container-wrap-person {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/person-bg.png);
}
.container-person {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 744px;
  text-transform: uppercase;
  color: rgb(255, 255, 254);
}
.person-title .heading-2 {
  padding-top: 100px;
  padding-bottom: 90px;
}
.person-icon {
  width: 530px;
  height: 415px;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.person-foto {
  width: 430px;
  padding-left:90px;
}
/*Partners*/
.container-wrap-partners {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/partners-bg.png);
}
.container-partners {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 907px;
  text-transform: uppercase;
  color: rgb(254, 254, 255);
}
.partners-title .heading-2 {
  padding-top: 100px;
  padding-bottom: 50px;
  line-height: 1.2;
  padding-left: 130px;
  font-size: 48px;
  letter-spacing: inherit;
}
.partners-content {
  align-items: center;
}
.partners-reviews .heading-4 {
  font-size: 24px;
  font-family: 'Roboto Regular';
  line-height: 1.2;
  letter-spacing: 1.3px;
}
.partners-logo {
  width: 70%;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
}
.partners-reviews {
  width: 70%;
  justify-content: start;
  padding-top: 30px;
  padding-bottom: 30px;
}
.partners-icon {
  width: 684px;
  height: 390px;
  background-color: black;
  justify-content: center;
  align-items: center;
}
/*Contacts*/
.container-wrap-contacts {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/bg/contacts-bg.png);
}
.container-contacts {
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 600px;
  color: rgb(255, 255, 254);
}
.contacts-title .heading-2 {
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 68px;
}
.contacts-content {
  padding-left: 38px;
  padding-right: 68px;
}
.contacts-social {
  justify-content: space-between;
  padding-left: 15px;
  width: 100%;
  height: 341px;
}
.contacts {
  padding-left: 60px;
  height: 243px;
}
.contact-data {
  padding-bottom: 24px;
}
.contact-data .heading-6 {
  font-size: 22px;
  font-family: 'Bebas Neue';
  line-height: 1.2;
  margin: 0;
}
.contact-data p {
  white-space: pre;
  margin: 0;
  font-size: 13px;
}
.social-icons {
  justify-content: space-between;
}
/*Footer*/
.footer {
  margin-left: 190px;
  margin-right: 190px;
  padding: 20px 68px;
}
.footer-content {
  padding-left: 80px;
  width: 100%;
}
.footer-menu-lists {
  padding-top: 20px;
  list-style-type: none;
  font-size: 8px;
  font-family: 'Roboto Regular';
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 2.2;
}
.footer-menu-list a {
  color: rgb(114, 114, 116);
}
.footer-menu-1 {
  text-transform: uppercase;
}
.footer-menu-2 {
  color: rgb(114, 114, 116);
  font-size: 8px;
}
@media (max-width: 968px) {
 .container-header,
 .container-clients,
 .container-mobapp,
 .container-bodyguard,
 .container-auto,
 .container-person,
 .container-partners,
 .container-contacts {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
 }
 .nav-menu {
   width: 100%;
   justify-content: center;
 }
 .nav-cotact p {
   padding: 0;
 }
 .nav-social-lists,
 .nav-contact p {
   display: none;
 }
 .nav-menu-lists {
   display: none;
 }
 .header-title,
 .clients-title,
 .subtitle {
   padding: 0;
   text-align: center;
   justify-content: center;
 }
 .heading-1 {
   font-size: 3.75rem;
   padding-left: 0;
 }
 .heading-2 {
   padding-left: 0;
 }
 .button {
  width: 328px;
 }
 .clients-icon {
   width: 100%;
   height: 267px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
}
@media (max-width: 520px) {
 .heading-3 {
   font-size: 1.2rem;
   line-height: 1;
 }
 .heading-2 {
   font-size: 2rem;
 }
 .heading-1 {
   font-size: 3rem;
 }
 .col-1-of-3 {
   width: 0;
 }
 .col-2-of-3 {
   width: 100%;
   text-align: center;
 }
}
@media (max-width: 440px) {
 .heading-3 {
   font-size: 1.2rem;
   font-weight: bold;
   line-height: 1.57;
 }
 .heading-2 {
   font-size: 1.35rem;
   font-weight: bold;
   line-height: 1.5;
   letter-spacing:3px;
   margin-top: 35px;
   margin-bottom: 10px;
 }
 .heading-1 {
   font-size: 2.3rem;
 }
 .p-content {
   font-size: 0.75rem;
 }
 .mobapp-title {
   padding-bottom: 30px;
 }
 .mobapp-title .heading-3 {
   font-size: 0.75rem;
   padding: 0;
 }
 .mobapp-list {
  font-size: 0.7rem;
  line-height: 1.2;
 }
 .mobapp-icon img {
  width: 170px;
  height: 350px;
 }
 .circle {
  min-width: 72px;
  height: 72px;
  font-size: 4rem;
 }
 .mobapp-menu-lists {
   margin-bottom: 20px;
 }
 .btn-store {
   width: 219px;
 }
 .carousel-inner img {
   width: 216px;
   height: 240px;
 }
 .bodyguard-title .heading-2 {
   padding-left: 0;
 }
 .bodyguard-title {
   padding-bottom: 20px;
 }
 .bodyguard-content .heading-3 {
   font-size: 1.1rem;
 }
 .bodyguard-content p {
   font-size: 0.75rem;
   text-align: center;
 }
 .bodyguard-foto {
   height: auto;
 }
 .arrow-left,
 .arrow-right {
   display: none;
 }
 .btn-order {
   width: 230px;
   margin: 0;
 }
 .skills {
   align-items: center;
 }
 .skills .row {
   width: 100%;
 }
 .col {
   text-align: center;
 }

